@{

}

<h1>Add Cheese</h1>

<form method="post">
    <label for="name">Type</label>
    <input name="name" id="name" />
    <label for="description">Description</label>
    <input type="text" name="description" id="description" />
    <input type="submit" value="Add Cheese" />
</form>